:root {
  /* Primary colors */
  --primary-color: #6C5CE7;
  --primary-hover-color: #5A4BD1;
  --primary-text-color: #252525;
  --primary-hover-text-color: #000000;

  /* Secondary text */
  --secondary-text-color: #6C757D;
  --secondary-hover-text-color: #495057;

  /* Inverse text (например, на ярких фонах) */
  --inverse-text-color: #FFFFFF;
  --inverse-hover-text-color: #F1F1F1;

  /* Typography */
  --primary-font-size: 16px;
  --font-family: 'Inter', sans-serif;
  --hover-text-font-weight: 500;

  /* Borders */
  --primary-border-color: #6C5CE7;
  --primary-border-hover-color: #5A4BD1;
  --secondary-border-color: #CED4DA;
  --secondary-border-hover-color: #ADB5BD;
  --active-border-color: #1E90FF;

  /* Success states */
  --success-dark: #28A745;
  --success-light: #A3E635;
  --success-hover: #218838;
  --success-text-color: #FFFFFF;
  --success-hover-text-color: #FFE5E5;

  /* Error states */
  --error-color: #DC3545;
  --error-dark: #C82333;
  --error-light: #F8D7DA;
  --error-hover: #BD2130;
  --error-text-color: #FFFFFF;
  --error-hover-text-color: #FFE5E5;

  /* Transitions */
  --hover-text-transition: 0s;
  --hover-button-transition: 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}